/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.1  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SLU 
 * All portions are Copyright (C) 2008-2012 Openbravo SLU 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

@import url(../../../../images/Logos.css);
@import url(../../Default/Openbravo_ERP_250.css);

body {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  background-color: #FFFFFF;
}

/*
 *************************************************************************
 * Common elements specific CSS
 *************************************************************************
*/

/*
 *************************
 * Button
 *************************
*/

.Button_width {
  width: 72px;
}

button.ButtonLink table.Button, .Button {
  color: #000000;
}

button.ButtonLink table.Button .Button_left, table.Button .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.normal.png);
}

button.ButtonLink table.Button .Button_text, table.Button .Button_text {
  background-image: url(Common/Button/buttonBody.normal.png);
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink table.Button .Button_right, table.Button .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.normal.png);
}

button.ButtonLink_hover table.Button, .Button_hover {
  color: #000000;
}

button.ButtonLink_hover table.Button .Button_left, table.Button_hover .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.rollover.png);
}

button.ButtonLink_hover table.Button .Button_text, table.Button_hover .Button_text {
  background-image: url(Common/Button/buttonBody.rollover.png);
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink_hover table.Button .Button_right, table.Button_hover .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.rollover.png); 
}

button.ButtonLink_active table.Button, .Button_active {
  color: #000000;
}

button.ButtonLink_active table.Button .Button_left, .Button_active .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.pressed.png); 
}

button.ButtonLink_active table.Button .Button_text, table.Button_active .Button_text {
  background-image: url(Common/Button/buttonBody.pressed.png);  
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink_active table.Button .Button_right, table.Button_active .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.pressed.png);  
}

button.ButtonLink_focus table.Button, .Button_focus {
  color: #000000;
}

button.ButtonLink_focus table.Button .Button_left, .Button_focus .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.focused.png);  
}

button.ButtonLink_focus table.Button .Button_text, table.Button_focus .Button_text {
  background-image: url(Common/Button/buttonBody.focused.png);  
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink_focus table.Button .Button_right, table.Button_focus .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.focused.png);  
}

button.ButtonLink_default table.Button, .Button_default {
  color: #000000;
}

button.ButtonLink_default table.Button .Button_left, .Button_default .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.default.png);  
}

button.ButtonLink_default table.Button .Button_text, table.Button_default .Button_text {
  background-image: url(Common/Button/buttonBody.default.png);  
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink_default table.Button .Button_right, table.Button_default .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.default.png);  
}

button.ButtonLink_disabled table.Button, .ButtonLink_disabled {
  color: #777777;
}

button.ButtonLink_disabled table.Button .Button_left, table.ButtonLink_disabled .Button_left {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonLeft.disabled.png);  
}

button.ButtonLink_disabled table.Button .Button_text, table.ButtonLink_disabled .Button_text {
  background-image: url(Common/Button/buttonBody.disabled.png);  
  height: 30px;
  font-family: 'lucida sans',sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

button.ButtonLink_disabled table.Button .Button_right, table.ButtonLink_disabled .Button_right {
  width: 15px;
  height: 30px;
  background-image: url(Common/Button/buttonRight.disabled.png);  
}

.Button_Icon {
  width: 0px;
  height: 0px;
  display: none;
}

/*
 *************************
 * Button  //Used in old r2.40 button definition
 *************************
*/

/*
 *************************
 * Button_TwoLines
 *************************
*/

/*
 *************************
 * Calendar
 *************************
*/

/*
 *************************
 * Checkbox
 *************************
*/

.Checkbox_focused, .Radio_focused {
  border: 2px solid #FA962F;
  outline-color: #FA962F;
}

/*
 *************************
 * CheckList
 *************************
*/

/*
 *************************
 * Combo
 *************************
*/

.ComboKeyNoUpdatable,
.ComboNoUpdatable,
.ComboReadOnly,
.ComboKeyReadOnly,
.ComboKey,
.Combo,
.Combo_focus {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 0px 0px 0px;
  margin-top: 0px;
  height: 21px;
}

.ComboKey,
.Combo,
.Combo_focus {
  border: 1px solid #CDD7BB;
  color: #333333;
  background-color: #F5F7F1;
}

.ComboKeyNoUpdatable,
.ComboNoUpdatable,
.ComboReadOnly,
.ComboKeyReadOnly {
  border: 1px solid #FFFFFF !important;
  color: #7D7D7D;
  background-color: #FFFFFF;
}

.ComboKey {
  background-color: #FFFFCC;
}

.Combo_focus {
  padding: 1px 0px 0px 0px;
  border: 1px solid #FA962F !important;
}

/*
 *************************
 * DataGrid
 *************************
*/

table.DataGrid_Header_Table {
  border-top: #CDD7BB 2px solid;
  border-right: #CDD7BB 2px solid;
  border-left: #CDD7BB 2px solid;
}

table.DataGrid_Header_Table_focus {
  border-top: #FF9C30 2px solid;
  border-right: #FF9C30 2px solid;
  border-left: #FF9C30 2px solid;
}

table.DataGrid_Body_Table {
  border-bottom: #CDD7BB 2px solid;
  border-right: #CDD7BB 2px solid;
  border-left: #CDD7BB 2px solid;
}

table.DataGrid_Body_Table_focus {
  border-bottom: #FF9C30 2px solid;
  border-right: #FF9C30 2px solid;
  border-left: #FF9C30 2px solid;
}

tr.DataGrid_Body_Row_Even, tr.DataGrid_Body_Row_1 {
  background-image: none;
  background-color: #FFFFFF;
}

tr.DataGrid_Body_Row_Odd, tr.DataGrid_Body_Row_0 {
  background-image: none;
  background-color: #F5F5F5;
}

tr.DataGrid_Body_Row_focus {
  background-image: none;
  background-color: #FFE1C0;
  color: #000000;
}

tr.DataGrid_Body_Row_selected {
  background-image: none;
  background-color: #FFE1C0;
  color: #000000;
}

th.DataGrid_Header_Cell {
  font-family: 'lucida sans', sans-serif;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #CDD7BB;
  border-bottom: 1px solid #A7ABB4;
  border-right: 1px solid #BBBFB6;
  border-left : 1px solid #BBBFB6;
  background-image: url(Common/DataGrid/backgroundHeader.normal.png);  
  background-color: #ECEEE9;
  _background-color: #ECEEE9;
}

th.DataGrid_Header_Cell_Amount {
  font-family: 'lucida sans', sans-serif;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #CDD7BB;
  border-bottom: 1px solid #A7ABB4;
  border-right: 1px solid #BBBFB6;
  border-left : 1px solid #BBBFB6;
  background-image: url(Common/DataGrid/backgroundHeader.normal.png);  
  background-color: #ECEEE9;
  _background-color: #ECEEE9;
}

th.DataGrid_Header_Cell_Inverse {
  text-align: center !important;
  padding: 1px 0px 1px 2px !important;
}

th.DataGrid_Header_Cell_hover {
  background-image: url(Common/DataGrid/backgroundHeader.rollover.png);  
  background-color: #FFFFFF;
  _background-color: #FFFFFF;
}

th.DataGrid_Header_Cell_active {
  background-image: url(Common/DataGrid/backgroundHeader.pressed.png);  
  background-color: #FFFFFF;
  _background-color: #FFFFFF;
}

th.DataGrid_Header_Cell_sorted {
  background-image: url(Common/DataGrid/backgroundHeader.selected.png);  
  background-color: #FFFFFF;
  _background-color: #FFFFFF;
}

th.DataGrid_Header_LineNoCell {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #A7ABB4;
  border-right: 1px solid #A7ABB4;
  border-left: 1px solid #000000;
  background: none !important;
  background-color : #CDD7BB !important;
}

td.DataGrid_Body_Cell {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  border-top: 1px solid #CDD7BB;
  border-bottom: 1px solid #CDD7BB;
  border-right: 1px solid #CDD7BB;
  border-left: 1px solid #CDD7BB;
}

td.DataGrid_Body_Cell_Amount {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  border-top: 1px solid #CDD7BB;
  border-bottom: 1px solid #CDD7BB;
  border-right: 1px solid #CDD7BB;
  border-left: 1px solid #CDD7BB;
}

td.DataGrid_Body_Cell_hover {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  color: #000000 !important;
  background-image: none;
  background-color: #E1E1E1;
}

td.DataGrid_Body_LineNoCell {
  border-top:  1px solid #A7ABB4;
  border-bottom: 1px solid #A7ABB4;
  border-right: 1px solid #A7ABB4;
  border-left:   1px solid #A7ABB4;
  background-color: #CDD7BB;
  color: #000000;
}

/*
 *************************
 * Dimension
 *************************
*/

.Dimension_LeftSelect_width {
  color: #333333;
  font-family: arial, sans-serif;
  font-size: 12px;
  padding-left: 3px;
  border: 1px solid #CDD7BB;
  background-color: #F5F7F1;
}

.Dimension_RightSelect_width {
  color: #333333;
  font-family: arial, sans-serif;
  font-size: 12px;
  padding-left: 3px;
  border: 1px solid #CDD7BB;
  background-color: #F5F7F1;
}

a.Dimension_LeftRight_Button_TopLink_focus table.Dimension_LeftRight_Button_Top .Dimension_LeftRight_Button_Top_bg, table.Dimension_LeftRight_Button_Top_focus .Dimension_LeftRight_Button_Top_bg {
  background-image: url(Common/Dimension/dimensionButtonLRTop.focused.png);  
}

a.Dimension_LeftRight_Button_BottomLink_focus table.Dimension_LeftRight_Button_Bottom .Dimension_LeftRight_Button_Bottom_bg, table.Dimension_LeftRight_Button_Bottom_focus .Dimension_LeftRight_Button_Bottom_bg {
  background-image: url(Common/Dimension/dimensionButtonLRBottom.focused.png);  
}

a.Dimension_UpDown_Button_TopLink_focus table.Dimension_UpDown_Button_Top .Dimension_UpDown_Button_Top_bg, table.Dimension_UpDown_Button_Top_focus .Dimension_UpDown_Button_Top_bg {
  background-image: url(Common/Dimension/dimensionButtonUDTop.focused.png);  
}

a.Dimension_UpDown_Button_BottomLink_focus table.Dimension_UpDown_Button_Bottom .Dimension_UpDown_Button_Bottom_bg, table.Dimension_UpDown_Button_Bottom_focus .Dimension_UpDown_Button_Bottom_bg {
  background-image: url(Common/Dimension/dimensionButtonUDBottom.focused.png);  
}


/*
 *************************
 * FieldButton
 *************************
*/

a.FieldButtonLink .FieldButton_bg, .FieldButton_bg {
  width: 0px;
  height: 0px;
  border-top: 1px solid #CDD7BB;
  border-right: 1px solid #CDD7BB;
  border-bottom: 1px solid #CDD7BB;
  border-left: 0px solid;
  padding: 1px 0px 0px 4px;
  _padding: 0px 0px 0px 4px;
  background-image: none;
  background-color: #E1E4DD;
}

a.FieldButtonLink_hover table.FieldButton .FieldButton_bg, table.FieldButton_hover .FieldButton_bg {
  background-image: none;
  background-color: #F5F7F1;
}

a.FieldButtonLink_active table.FieldButton .FieldButton_bg, table.FieldButton_active .FieldButton_bg {
  border-top: 1px solid #FA962F;
  border-right: 1px solid #FA962F;
  border-bottom: 1px solid #FA962F;
  background-image: none;
  background-color: #CCD0C6;
}

a.FieldButtonLink_focus table.FieldButton .FieldButton_bg, table.FieldButton_focus .FieldButton_bg {
  border-top: 1px solid #FA962F;
  border-right: 1px solid #FA962F;
  border-bottom: 1px solid #FA962F;
  background-image: none;
}




.FieldButton_Icon {
  width: 20px;
  height: 18px;
  _height: 16px;
  margin: 0px 0px 0px 0px;
}



.FieldGroupTitle_Left_bg {
  background-image: url(Common/FieldGroup/labelLeft.png);  
}

.FieldGroupTitle {
  background-image: url(Common/FieldGroup/labelBody.png);  
}

.FieldGroupTitle_Right_bg {
  background-image: url(Common/FieldGroup/labelRight.png);  
}

.FieldGroupContent {
  background-image: url(Common/FieldGroup/labelContent.png);  
}

/*
 *************************
 * FieldGroup
 *************************
*/

/*
 *************************
 * Image
 *************************
*/

/*
 *************************
 * Label
 *************************
*/

.PlainText_normal {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #404040;
}

.LabelText {
  font-family: 'lucida sans', sans-serif;
  color: #333333;
  font-size: 8pt;
  font-weight: bold;
}

.Label_ReadOnly_Text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #606060;
}

a.LabelLink {
  background-image: url(Common/Label/link.png);  
  color: #333333;
}

a.LabelLink:active {
  color: #58A618;
  text-decoration: none;
  -moz-outline-style: none;
}

a.LabelLink:visited {
  color: #333333;
}

a.LabelLink:hover {
  color: #58A618;
  text-decoration: none;
}

a.LabelLink_focus {
  background-image: none;
  color: #fa962f;
  border-color: none;
}

a.LabelLink_noicon {
  color: #58A618;
  text-decoration: none;
}

a.LabelLink_noicon:active {
  color: #58A618;
  text-decoration: none;
  -moz-outline-style: none;
}

a.LabelLink_noicon:visited {
  color: #58A618;
  text-decoration: none;
}

a.LabelLink_noicon:hover {
  color: #58A618;
  text-decoration: underline;
}

a.LabelLink_noicon_focus {
  padding: 0px 0px 0px 0px;
  background-color: #FFFFFF !important;
  color: #fa962f !important;
  border-style: solid;
  border-width: 0px;
  border-color: #58A618;
  border: none;
  outline: none;
}

.Regular_Paragraph {
  font-family: arial, sans-serif;
  font-size: 12px;
}

.Wide_Paragraph {
  font-family: arial, sans-serif;
  font-size: 12px;
}

/*
 *************************
 * List
 *************************
*/

.List_width {
  color: #333333;
  font-family: arial, sans-serif;
  font-size: 12px;
  padding-left: 3px;
  border-color: #CDD7BB;
  background-color: #F5F7F1;
}

a.List_Button_TopLink_focus table.List_Button_Top .List_Button_Top_bg, table.List_Button_Top_focus .List_Button_Top_bg {
  background-image: url(Common/List/listButtonTop.focused.png);  
}

a.List_Button_MiddleLink_focus table.List_Button_Middle .List_Button_Middle_bg, table.List_Button_Middle_focus .List_Button_Middle_bg {
  background-image: url(Common/List/listButtonMiddle.focused.png);  
}

a.List_Button_BottomLink_focus table.List_Button_Bottom .List_Button_Bottom_bg, table.List_Button_Bottom_focus .List_Button_Bottom_bg {
  background-image: url(Common/List/listButtonBottom.focused.png);  
}



/*
 *************************
 * MessageBox
 *************************
*/

table.MessageBoxERROR .MessageBox_TextTitle {
  font-family: 'lucida sans',sans-serif;
  font-size: 9pt;
}

table.MessageBoxERROR .MessageBox_TextDescription {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxERROR a.MessageBox_TextLink:active {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxERROR a.MessageBox_TextLink:visited {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxERROR a.MessageBox_TextLink:hover {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxERROR a.MessageBox_TextLink_focus {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxINFO .MessageBox_TextTitle {
  font-family: 'lucida sans',sans-serif;
  font-size: 9pt;
}

table.MessageBoxINFO .MessageBox_TextDescription {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxINFO a.MessageBox_TextLink:active {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxINFO a.MessageBox_TextLink:visited {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxINFO a.MessageBox_TextLink:hover {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxINFO a.MessageBox_TextLink_focus {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxSUCCESS .MessageBox_TextTitle {
  font-family: 'lucida sans',sans-serif;
  font-size: 9pt;
}

table.MessageBoxSUCCESS .MessageBox_TextDescription {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxSUCCESS a.MessageBox_TextLink:active {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxSUCCESS a.MessageBox_TextLink:visited {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxSUCCESS a.MessageBox_TextLink:hover {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxSUCCESS a.MessageBox_TextLink_focus {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxWARNING .MessageBox_TextTitle {
  font-family: 'lucida sans',sans-serif;
  font-size: 9pt;
}

table.MessageBoxWARNING .MessageBox_TextDescription {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxWARNING a.MessageBox_TextLink:active {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxWARNING a.MessageBox_TextLink:visited {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxWARNING a.MessageBox_TextLink:hover {
  font-family: arial, sans-serif;
  font-size: 12px;
}

table.MessageBoxWARNING a.MessageBox_TextLink_focus {
  font-family: arial, sans-serif;
  font-size: 12px;
}



/*
 *************************
 * RelationInfo
 *************************
*/

/*
 *************************
 * Selector
 *************************
*/

/*
 *************************
 * TableEdition
 *************************
*/

.Combo_ContentCell {
  height: 30px;
}

.TextBox_ContentCell {
  height: 30px;
}

.TextBox_ReadOnly_ContentCell {
  height: 30px;
}

.TextArea_ContentCell {
  height: 30px;
}

.List_ContentCell {
  height: 30px;
}



.Main_Client_TableEdition {
  background-color : #FFFFFF;
}

.Main_Client_TableRelation {
  background-color : #FFFFFF;
}

.TitleCell {
  padding-top: 7px;
}

.ReadOnly_Text_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left; /*~RTL   text-align: right; */
  text-indent:3px;
  border-collapse: collapse;
  padding-top: 5px;
  padding-right: 4px; /*~RTL   padding-left:4px; */
}

.Radio_Check_ContentCell {
  padding-top: 3px;
  _padding-top: 0px;
}

.Button_LeftAlign_ContentCell {
  text-align: left; /*~RTL   text-align: right; */
  padding-left: 6px; /*~RTL   padding-right: 6px; */
  padding-top: 3px;
  _padding-top: 1px;
  height: 40px;
}

.Button_CenterAlign_ContentCell {
  text-align: center;
  padding-top: 3px;
  _padding-top: 1px;
  height: 40px;
}

.Button_RightAlign_ContentCell {
  text-align: right; /*~RTL   text-align: left; */
  padding-right: 6px; /*~RTL   padding-left: 6px; */
  padding-top: 3px;
  _padding-top: 1px;
  height: 40px;
}

.FieldButton_ContentCell {
  padding-top: 3px;
  border: 0px none;
  vertical-align: top;
  text-align: left; /*~RTL   text-align: right; */
  border-collapse: collapse;
  height: 30px;
}

/*
 *************************
 * TextArea
 *************************
*/

/*
 *************************
 * TextBox
 *************************
*/

.dojoValidateEmpty,
.dojoValidateInvalid,
.dojoValidateRange,
.dojoValidateValid,
.dojoValidateEmpty_focus,
.dojoValidateValid_focus,
.dojoValidateInvalid_focus,
.dojoValidateRange_focus {
  border: 1px solid #CDD7BB;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #F5F7F1 !important;
  background-image: none;
  padding: 1px 1px 1px 4px; /*~RTL   padding: 1px 4px 1px 1px; */
  _padding: 2px 1px 1px 4px; /*~RTL   _padding: 2px 4px 1px 1px; */
  height: 21px;
}

.required,
.required_focus {
  background-image: none;
  background-color: #FFFFCC !important;
}

.readonly {
  border: 1px solid #FFFFFF !important;
}

.readonly,
.readonly_focus {
  color: #7D7D7D;
  font-weight: normal;
  background-color: transparent !important;
}

.dojoValidateEmpty_focus,
.dojoValidateValid_focus,
.dojoValidateInvalid_focus,
.dojoValidateRange_focus
.readonly_focus_required_focus,
.TextBox_focus,
.required_focus,
.readonly_focus_required_focus {
  border: 1px solid #FA962F;
  background-color: #F5F7F1;
  background-image: none;
}

.invalid {
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: normal;

}

.missing {
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: normal;

}

.range {
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
}

/*
 *************************
 * Tree
 *************************
*/

/*
 *************************************************************************
 * Login window specific CSS
 *************************************************************************
*/

/*
 *************************
 * 2.50
 *************************
*/

/*
 *************************
 * 3.00
 *************************
*/

.Login_ErrorMsg_Container {
  height: 66px;
  margin-bottom: 72px;
}

.Login_ErrorMsg_Title {
  color: red !important;
  font-weight: bold;
  font-size: 10px;
}

.Login_ErrorMsg_Content {
  color: red !important;
  font-weight: normal;
  font-size: 10px;
}

.Login_LabelText {
  font-size: 9pt;
}

.Login_TextBox,
.Login_TextBox_focus {
  background-color: #FFFFFF !important;
  width: 280px;
  height: 25px;
  _padding-top: 4px;
}

.Login_TextBox {
  border-color: #AFBE95;
}

.Login_Combo,
.Login_Combo_focus {
  background-color: #FFFFFF !important;
  width: 280px;
}

.Login_Combo {
  border-color: #AFBE95;
}


/*
 *************************************************************************
 * Main window specific CSS
 *************************************************************************
*/

/*
 *************************
 * _ParticularItems
 *************************
*/

/*
 ****************
 * AddModule
 ****************
*/

/*
 ****************
 * InstallationHistory
 ****************
*/

/*
 *************************
 * Bottom
 *************************
*/

/*
 *************************
 * ContentPane
 *************************
*/

.Main_ContentPane_Client {
  background-color: #FFFFFF;
}

/*
 *************************
 * LeftTabsBar
 *************************
*/

/* Left Icons definition for Main_LeftTabsBar */

/*
 *************************
 * NavBar
 *************************
*/

.Main_NavBar_bg_left {
  /*background-color: #3A6B01;
  background-repeat: repeat-x;
  background-position: center center;
  background-image: url(Main/NavBar/backgroundLeft.png);*/  
}

.Main_NavBar_bg_right {
  /*background-color: #3A6B01;
  background-repeat: repeat-x;
  background-position: center center;
  background-image: url(Main/NavBar/backgroundRight.png);*/  
}

/* Left Buttons definition for Main_NavBar */

/* Right Buttons definition for Main_NavBar */

/* Right Icons definition for Main_NavBar */

/*
 *************************
 * Status
 *************************
*/

/*
 *************************
 * Tabs
 *************************
*/

/*dojoTabcurrent*/

.dojoTabcurrent {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #000000 !important;
  margin: -4px 0 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.selected.png);  
}

.dojoTabcurrent div {
  background-image: url(Main/Tabs/roundItemFill.selected.png);  
}

.dojoTabcurrent div span {
  background-image: url(Main/Tabs/roundItemRight.selected.png);  
}

/*dojoTabparent*/

.dojoTabparent {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #333333 !important;
  margin: -4px 0px 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.normal.png);  
}

.dojoTabparent div {
  background-image: url(Main/Tabs/roundItemFill.normal.png);  
}

.dojoTabparent div span {
  background-image: url(Main/Tabs/roundItemRight.normal.png);  
}

/*dojoTabcurrent*/

.dojoTabcurrentfirst {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #000000 !important;
  margin: -16px 0 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.selected.png);  
}

.dojoTabcurrentfirst div {
  background-image: url(Main/Tabs/roundItemFill.selected.png);  
}

.dojoTabcurrentfirst div span {
  background-image: url(Main/Tabs/roundItemRight.selected.png);  
}

/*dojoTabparent*/

.dojoTabparentfirst {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #333333 !important;
  margin: -16px 0px 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.normal.png);  
}

.dojoTabparentfirst div {
  background-image: url(Main/Tabs/roundItemFill.normal.png);  
}

.dojoTabparentfirst div span {
  background-image: url(Main/Tabs/roundItemRight.normal.png);  
}


/*dojoTabcurrent_focus*/

.dojoTabcurrent_focus {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #000000 !important;
  margin: -4px 0 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.selected.focused.png);  
}

.dojoTabcurrent_focus div {
  background-image: url(Main/Tabs/roundItemFill.selected.focused.png);  
}

.dojoTabcurrent_focus div span {
  background-image: url(Main/Tabs/roundItemRight.selected.focused.png);  
}

/*dojoTabparent_focus*/

.dojoTabparent_focus {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #333333 !important;
  margin: -4px 0px 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.normal.focused.png);  
}

.dojoTabparent_focus div {
  background-image: url(Main/Tabs/roundItemFill.normal.focused.png);  
}

.dojoTabparent_focus div span {
  background-image: url(Main/Tabs/roundItemRight.normal.focused.png);  
}

/*dojoTabcurrent_focus*/

.dojoTabcurrentfirst_focus {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #000000 !important;
  margin: -16px 0 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.selected.focused.png);  
}

.dojoTabcurrentfirst_focus div {
  background-image: url(Main/Tabs/roundItemFill.selected.focused.png);  
}

.dojoTabcurrentfirst_focus div span {
  background-image: url(Main/Tabs/roundItemRight.selected.focused.png);  
}

/*dojoTabparent_focus*/

.dojoTabparentfirst_focus {
  font-family: arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: #333333 !important;
  margin: -16px 0px 0px 0px;
  background-image: url(Main/Tabs/roundItemLeft.normal.focused.png);  
}

.dojoTabparentfirst_focus div {
  background-image: url(Main/Tabs/roundItemFill.normal.focused.png);  
}

.dojoTabparentfirst_focus div span {
  background-image: url(Main/Tabs/roundItemRight.normal.focused.png);  
}



A.dojoTabLink_focus {
  background-image: url(Main/Tabs/singleTab.focused.png);  
  border-color: #FA962F;
}





.tabTabbarBackGround{
  background: #FFFFFF;
}

.tabBackGround {
  background: #FFFFFF;
}

.tabBackGroundInit {
  background-image: url(Main/Tabs/TabPane_top_bg.png);  
  background-color: #3A6B01;
}

.tabPaneBackground {
  background-image: url(Main/Tabs/inlayFill.png);  
}

.tabSeparator {
  background-image: url(Main/Tabs/inlaySeparator.png);  
}

.tabLeft {
  background-image: url(Main/Tabs/inlayLeft.png);  
}

.tabRight {
  background-image: url(Main/Tabs/inlayRight.png);  
}

/*
 *************************
 * ToolBar
 *************************
*/

.Main_ToolBar_bg {
  background-image: url(Main/ToolBar/backgroundCenter.png);  
  background-color: #3A6B01;
}

.Main_ToolBar_bg_left {
  background-repeat: repeat-x;
  background-image: url(Main/ToolBar/backgroundLeft.png);  
}

.Main_ToolBar_bg_right {
  background-repeat: repeat-x;
  background-image: url(Main/ToolBar/backgroundRight.png);  
}

/* Buttons definition for ToolBar */
a.Main_ToolBar_Button {
  margin-left: 2px;
  margin-right: 2px;
  width: 28px;
  height: 28px;
  border: 1px solid #64932d;
}

a.Main_ToolBar_Button:visited {
}

a.Main_ToolBar_Button:hover {
  background-image: none;
  background-color: #3a6b01;
  border: 1px solid #74a23f;
}

a.Main_ToolBar_Button:active {
  background-image: none;
  background-color: #2C4E00;
  border: 1px solid #74a23f;
}

a.Main_ToolBar_Button:focus {
  border: 1px solid #FA962F;
}



/* Buttons definition for ToolBar */
a.Main_ToolBar_Button_Selected {
  margin-left: 2px;
  margin-right: 2px;
  width: 28px;
  height: 28px;
  background-image: none;
  background-color: #2C4E00;
  border: 1px solid #74a23f;
}


/* Disabled buttons definition for ToolBar */
a.Main_ToolBar_Button_disabled {
  margin-left: 2px;
  margin-right: 2px;
  width: 28px;
  height: 28px;
  border: 1px solid #64932d;
  -moz-outline-style: none;
}

/* Selected buttons definition for ToolBar */
a.Main_ToolBar_Button_Selected:visited {
}

a.Main_ToolBar_Button_Selected:hover {
  background-image: none;
  border: 1px solid #74a23f;
}

a.Main_ToolBar_Button_Selected:active {
  background-image: none;
}

a.Main_ToolBar_Button_Selected:focus {
  border: 1px solid #FA962F;
}

/* Icons definition for ToolBar */
.Main_ToolBar_Button_Icon {
  width: 28px;
  height: 28px;
  padding-top: 2px;
}

/*
 ****************
 * ExpansibleMenu
 ****************
*/

/*
 *************************************************************************
 * Menu window specific CSS
 *************************************************************************
*/

/*
 *************************
 * Bottom
 *************************
*/

.Main_Bottom_bg {
  background-color: #3A6B01;
}

.Main_Bottom_bg_left {
  background-color: #3A6B01;
}

.Main_Bottom_bg_right {
  background-color: #3A6B01;
}

/*
 *************************
 * ContentPane
 *************************
*/

.Main_ContentPane_ToolBar {
border-collapse: separate; border-spacing: 4;
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 34px;
  border-collapse: collapse;
}

.Main_ContentPane_Right_Container {
  background-color: #3A6B01;
}

.Main_ContentPane_Right {
  background-color: #3A6B01;
}

.Main_ContentPane_Left_Container {
  background-color: #3A6B01;
}

.Main_ContentPane_Left {
  background-color: #3A6B01;
}

/*
 *************************
 * NavBar
 *************************
*/

/*
 *************************
 * Status
 *************************
*/

/*
 *************************
 * ToolBar
 *************************
*/

/*
 *************************
 * Tree
 *************************
*/

/*
 *************************************************************************
 * Popup window specific CSS
 *************************************************************************
*/

.Popup_Client_TablePopup {
  background-color : #FFFFFF;
}

.Popup_Client_TableWorkflow {
  background-color : #FFFFFF;
}


.Popup_Client_TableSelector {
  background-color : #FFFFFF;
}

.Popup_Client_TableSelector_Grid {
  background-color : #FFFFFF;
}

table.Popup_Client_TableHelp {
  background-color : #FFFFFF;
}

table.Popup_Client_TableUserOps {
  background-color : #FFFFFF;
}

table.Popup_Client_TableUserOps_SubMenu {
  background-color : #FFFFFF;
}

/*
 *************************
 * _ParticularItems
 *************************
*/

/*
 ****************
 * Help
 ****************
*/

a.Popup_Client_Help_LabelLink_focus {
  background-color: #FFFFFF !important;
  color: #FA962F;
  border-color: #FFFFFF;
}

/*
 ****************
 * RelatedInfo
 ****************
*/

.RelationInfoTitle {
  font-family: 'lucida sans', sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
}

.RelationInfoContent {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 0px 0px 5px 5px;
}

/*
 ****************
 * Selector
 ****************
*/

/*
 ****************
 * UserOps
 ****************
*/

/*
 ****************
 * Workflow
 ****************
*/

/*
 *************************
 * ContentPane
 *************************
*/

.Popup_ContentPane_Client {
  background-color: #FFFFFF;
}

/*
 *************************
 * DragDropTree
 *************************
*/

/*
 *************************
 * InfoBar
 *************************
*/

/*
 *************************
 * NavBar
 *************************
*/

.Popup_NavBar_bg {
  background-image: url(Popup/NavBar/backgroundCenter.png);  
}

.Popup_NavBar_bg_left {
  background-image: url(Popup/NavBar/backgroundLeft.png);  
}

.Popup_NavBar_bg_right {
  background-image: url(Popup/NavBar/backgroundRight.png);  
}

.Popup_NavBar_bg_logo_left {
  background-image: url(Popup/NavBar/logoLeft.png);  
}

.Popup_NavBar_bg_logo_right {
  background-image: url(Popup/NavBar/logoRight.png);  
}

/*
 *************************
 * SeparatorBar
 *************************
*/

/*
 *************************
 * Status
 *************************
*/

/*
 *************************
 * Wallpaper
 *************************
*/

/*
 *************************
 * WindowLogo
 *************************
*/

/*
 *************************************************************************
 * New selector
 *************************************************************************
*/

.ob_cell,
.ob_cellDark,
.ob_cellOver,
.ob_cellOverDark,
.ob_cellSelected,
.ob_cellSelectedDark,
.ob_cellSelectedOver,
.ob_cellSelectedOverDark,
.ob_cellDisabled,
.ob_cellDisabledDark,
.ob_tallCell,
.ob_tallCellDark,
.ob_tallCellOver,
.ob_tallCellOverDark,
.ob_tallCellSelected,
.ob_tallCellSelectedDark,
.ob_tallCellSelectedOver,
.ob_tallCellSelectedOverDark,
.ob_tallCellDisabled,
.ob_tallCellDisabledDark,
.ob_gridSummaryCell,
.ob_gridSummaryCellDisabled,
.ob_groupSummaryCell,
.ob_groupSummaryCellDisabled {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #333333 !important;

  border-top: 0px solid #CDD7BB !important;
  border-bottom: 1px solid #CDD7BB !important;
  border-right: 1px solid #CDD7BB !important;
  border-left : 0px solid #CDD7BB !important;
}

.ob_cell {
  background: none !important;
  background-color: #FFFFFF !important;
}
.ob_cellDark {
  background: none !important;
  background-color: #F5F5F5 !important;
}
.ob_cellOver,
.ob_cellOverDark {
  background: none !important;
  background-color: #E1E1E1 !important;
}

.ob_cellSelected,
.ob_cellSelectedDark,
.ob_cellSelectedOver,
.ob_cellSelectedOverDark {
  background: none !important;
  background-color: #ffe1c0 !important;
}

.ob_headerbutton,
.ob_headerbuttonselected,
.ob_headerbuttondisabled,
.ob_headerbuttonselecteddisabled,
.ob_headerbuttonover,
.ob_headerbuttondown,
.ob_headerbuttonselectedover,
.ob_headerbuttonselecteddown {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  border-top: 1px solid #CDD7BB !important;
  border-bottom: 1px solid #CDD7BB !important;
  border-right: 1px solid #CDD7BB !important;
  border-left : 0px solid #CDD7BB !important;
}


.formTitle,
.formTitleFocused,
.formTitleDisabled,
.formCellError,
.formTitleError,
.formHint,
.headerItem,
.headerItemDisabled,
.headerItemError,
.staticTextItem,
.staticTextItemDisabled,
.staticTextItemError,
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemControl,
.selectItemControlError,
.selectItemControlFocused,
.selectItemText,
.selectItemTextError,
.selectItemTextDisabled,
.selectItemTextFocused,
.selectItemTextRequired,
.selectItemTextRequiredError,
.selectItemTextRequiredDisabled,
.selectItemTextRequiredFocused,
.pickListCell,
.pickListCellSelected,
.pickListCellDisabled,
.pickListCellDark,
.pickListCellSelectedDark,
.pickListCellDisabledDark,
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused {
  font-family: arial, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #333333 !important;
}


.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextHint {
    height:21px !important;
    border: 1px solid #CDD7BB !important;
    background: none !important;
    background-color: #F5F7F1 !important;
    color: #333333 !important;
}

.selectItemTextRequired,
.selectItemTextRequiredError,
.selectItemTextRequiredFocused,
.selectItemTextRequiredHint {
    height: 21px !important;
    border: 1px solid #CDD7BB !important;
    background: none !important;
    background-color: #FFFFCC !important;
    color: #333333 !important;
}

.textItemDisabled,
.selectItemTextDisabled,
.selectItemTextRequiredDisabled {
    height: 21px !important;
    border: 1px #FFFFFF !important;
    background: transparent !important;
    color: #7D7D7D !important;
    background-color: transparent !important;
}

.textItemFocused,
.selectItemTextFocused {
    background-image: none !important;
    padding-left: 4px !important;
    border: 1px solid #FA962F !important;
}
.selectItemTextRequiredFocused {
    background-image: none !important;
    padding-left: 4px !important;
    border: 1px solid #FA962F !important;
}
